.heading
{
    font-size:23px;
    width: 100%;
    margin: 0px;
}

body
{
background-size: cover;
}

#canvas
{
    border: 5px solid white;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 100px;
    animation-iteration-count: infinite;
    background-color: black;

}
